#gridContainer {
    width: 100%;
    height: 100%;
}
.custom-column {
    /* z-index: 9 !important;
    position: relative; */
    color: #212121 !important;
    font-size: 14px !important;
    font-weight: 800 !important;
    background-color: #f5f5f5;
}
.column-fix {
    z-index: 9999999999 !important;
    background-color: red !important;
    position: relative;
}
.data-grid {
    width: 100% !important;
    height: 100% !important;
}
#gridContainer > div > div.dx-datagrid-columns-separator.dx-datagrid-columns-separator-transparent {
    display: none;
}
#gridContainer > div > div.dx-datagrid-tracker.dx-state-invisible {
    display: none;
}
#gridContainer > div > div.dx-datagrid-headers.dx-datagrid-nowrap > div.dx-datagrid-scrollable-simulated.dx-datagrid-content.dx-datagrid-scroll-container.dx-datagrid-content-fixed > table > tbody > tr{
    background-color: #F5F5F5;
}
#gridContainer
    > div
    > div.dx-datagrid-headers.dx-datagrid-nowrap.dx-state-focused
    > div
    > table
    > tbody
    > tr
    > td.dx-command-select.dx-cell-focus-disabled.dx-editor-cell.dx-editor-inline-block
    > div
    input {
    display: block;
}
.dx-datagrid .dx-datagrid-rowsview table {
    border: none !important;
}
#gridContainer > div > div.dx-datagrid-headers.dx-datagrid-nowrap > div > table > tbody > tr {
    line-height: 36px;
}
#gridContainer
    > div
    > div.dx-datagrid-rowsview.dx-datagrid-nowrap.dx-scrollable.dx-visibility-change-handler.dx-scrollable-both.dx-scrollable-simulated
    > div
    > div
    > div.dx-scrollable-content
    > div
    > table
    > tbody
    > tr {
    height: 30px !important;
    line-height: 36px;
}

.dx-checkbox-checked .dx-checkbox-icon {
    color: #fff;
    background-color: #fe6000;
    border: 2px solid #fe6000;
}
.dx-state-hover {
    outline: none;
    background-color: #ffede2 !important;
    background: none;
    
}
.dx-state-hover .container-function{
    display: flex;
}
.dx-checkbox.dx-state-hover .dx-checkbox-icon {
    border: 2px solid #7e8392 !important;
}
.dx-checkbox-icon {
    height: 16px !important;
    width: 16px !important;
    outline: none;
    border: 2px solid #7e8392;
    border-radius: 4px;
}
.dx-checkbox-icon:focus {
    outline: none;
}
.dx-checkbox-checked {
    border: none;
    outline: none;
}
.dx-state-focused .dx-checkbox-container {
    border-radius: 4px !important;
    height: 16px !important;
    width: 16px !important;
}
.dx-checkbox-container:focus {
    border: none !important;
}
.dx-checkbox-checked .dx-checkbox-icon::before {
    content: "\f005";
    position: relative;
    display: block;
    width: 0.6em;
    top: 50%;
    margin-top: -0.5em;
    left: 50%;
    margin-left: -0.5em;
}
.dx-datagrid-checkbox-size.dx-checkbox-indeterminate .dx-checkbox-icon {
    border: none;
    font-size: 0px;
}

#gridContainer
    > div
    > div.dx-datagrid-headers.dx-datagrid-nowrap
    > div.dx-datagrid-scrollable-simulated.dx-datagrid-content.dx-datagrid-scroll-container.dx-datagrid-content-fixed
    > table
    > tbody
    > tr {
    /* background-color: #f5f5f5; */
    color: #212121;
    font-size: 14px;
    font-weight: 800;
}

.dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-edit-with-icons .dx-link {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
}
.dx-datagrid-content .dx-datagrid-table{
    border-collapse: unset !important;
}
.dx-datagrid .dx-link:nth-of-type(2):hover {
    color: red !important;
}
.dx-datagrid .dx-link:first-child:hover,
.dx-datagrid .dx-link:first-child {
    color: #7e8392;
}
.dx-datagrid .dx-link:nth-of-type(2) {
    color: red;
}


#dx-col-16,
#dx-col-15,
#dx-col-14,
#dx-col-13,
#dx-col-12,
#dx-col-11,
#dx-col-10,
#dx-col-9,
#dx-col-8,
#dx-col-7,
#dx-col-6,
#dx-col-5,
#dx-col-4,
#dx-col-3 {
    color: #212121 !important;
    font-size: 14px !important;
    font-weight: 800 !important;
    background-color: #f5f5f5 !important;
}

#gridContainer
    > div
    > div.dx-datagrid-rowsview.dx-datagrid-nowrap.dx-fixed-columns.dx-scrollable.dx-visibility-change-handler.dx-scrollable-both.dx-scrollable-simulated
    > div.dx-datagrid-content.dx-datagrid-content-fixed
    > table
    > tbody
    > tr{
        line-height: 36px;
    }

#gridContainer > div > div.dx-datagrid-headers.dx-datagrid-nowrap > div > table > tbody > tr{
    color: #212121 !important;
    font-size: 14px !important;
    font-weight: 800 !important;
}
.container-function{
    position: absolute;
    margin-top: -7px;
    padding-top: -30px;
    right: 0px;
    width: 100px;
    height: 53px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    display: none;
}
.func-edit{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px rgba(153, 144, 144, 0.3);
    cursor: pointer;

}
.func-delete{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px rgba(156, 148, 148, 0.3);
    cursor: pointer;
}

.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > tr > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > tr > td {
    background-color: #ffede2 !important;

}
.dx-datagrid-headers{
    background-color: #f5f5f5;
}
.dx-datagrid-headers:hover{
    background-color: #f5f5f5;
}
.dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-edit-with-icons .dx-link{
    box-shadow: 2px 2px 2px 2px rgba(153, 144, 144, 0.3);
    color: #fe6000;
}
#app > div > div.content > div.content-detail-center > div.content-detail-center-employee > div.content-detail-center-top > div.content-detail-center-top-left > div.suggested-date > div > div.dx-field-value > div > div:hover{
    background-color: #fff;
    border: 1px solid #fe6000;
    border-radius: 5px;
}
