* {
    font-family: Amis font;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

@font-face {
    font-family: Amis font;
    src: url(../assets/roboto/Roboto-Regular.ttf);
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #b8bcc3;
}
.icon-validate-combobox{
    background: transparent url("../assets/images/Sprites.64af8f61.svg") no-repeat -1696px -312px;
    position: absolute;
    top: 17px;
    right: 25px;
}
.icon-validate-datepicker{
    background: transparent url("../assets/images/Sprites.64af8f61.svg") no-repeat -1696px -312px;
    position: absolute;
    top: 10px;
    right: 8px;
}
.icon-validate-datepicker:hover{
    border: none;
}
.tags{
    display: inline;
    border-radius: 5px;
    font-size: 13px;
    bottom: -30px;
    color: #fff;
    content: attr(data-gloss);
    padding: 5px;
    position: absolute;
    z-index: 98;
    text-align: center;
}

.tags:hover:after{
    background: #212121;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    content: attr(data-gloss);
    padding: 5px;
    position: absolute;
    z-index: 98;
    text-align: center;
    width: 230px;
    top: -38px;
    right: -80px;
}
.tags:hover:before{
    border: solid;
    border-color: #212121 transparent;
    border-width: 6px 6px 0px 6px;
    content: "";
    position: absolute;
    z-index: 99;
    top: -14px;
    left: 2px;
}
.tags-edit,
.tags-export,
.tags-filter,
.tags-refesh{
    display: inline;
    border-radius: 5px;
    font-size: 13px;
    color: #fff;
    content: attr(data-gloss);
    /* position: absolute; */
    z-index: 98;
    text-align: center;
}
.tags-edit:hover:after,
.tags-export:hover:after,
.tags-filter:hover:after,
.tags-refesh:hover:after{
    background: #212121 !important;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    content: attr(data-gloss);
    padding: 5px;
    position: absolute;
    z-index: 98;
    text-align: center;
    width: 60px;
    height: 20px;
    line-height: 20px;
}
.tags-edit:hover:after{
    bottom: -38px;
    right: -19px;
}
.tags-export:hover:after{
    bottom: -38px;
    right: -19px;
}
.tags-filter:hover:after{
    bottom: -38px;
    right: -19px;
}
.tags-refesh:hover:after{
    bottom: -38px;
    left: -7px;
}
.tags-edit:hover:before,
.tags-export:hover:before,
.tags-filter:hover:before,
.tags-refesh:hover:before{
    border: solid;
    border-color: #212121 transparent;
    border-width: 0px 6px 6px 6px;
    content: "";
    position: absolute;
    z-index: 100;
}
.tags-edit:hover:before{
    bottom: -9px;
    left: 22px;
}
.tags-export:hover:before{
    bottom: -9px;
    left: 22px;
}
.tags-filter:hover:before{
    bottom: -9px;
    left: 22px;
}
.tags-refesh:hover:before{
    bottom: -9px;
    left: 48%;
}
